:root {
    font-size: 10px;
    --var-black: #342E37;
    --var-primary: #39A2AE;
    --var-secondary: #55DBCB;
    --var-third: #DCD6F7;
    --var-accent: #F25F5C;
}

html, body {
    height: 100vh; 
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav > a {
    font-size: 3rem;
    color: var(--var-black);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 2rem 0;
    transition: flex-grow 0.2s ease;
}

nav > a:hover {
    flex-grow: 1.2;
}

nav > a:nth-child(1) {
    background-color: var(--var-primary);
}

nav > a:nth-child(2) {
    background-color: var(--var-secondary);
}

nav > a:nth-child(3) {
    background-color: var(--var-third);
}

.main-nav {
    height: 100vh;
}

.main-nav > a {
    height: 100vh;
    font-size: 5rem;
}

main.inventory {
    display: flex;
    justify-content: center;
    height: 100%;
}

main.inventory > section {
    width: 50vw;
}